<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>

</body>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript">
        function xl2tpd_status() {
            $.ajax({
                url: 'service_xl2tpd_log',
                type: 'GET',
                success: function (data){
                    document.body.innerText = JSON.stringify(data)
                }
            })
        }
        xl2tpd_status()
        setInterval(function (){
            xl2tpd_status()
        }, 3000)
    </script>
</html>